<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>navbar}}

  <main role="main" class="container">
    <div class="jumbotron">
      <h1>Let us help you!</h1>
      <p class="lead">What can we do for you?</p>
    </div>
  </main>

  {{>footer}}

  {{>scripts}}
</body>

</html>